.container-header-width {
  margin: 0 auto;
  padding: 0;
  max-width: 1023px;
  width: 100%;

  @media (min-width: 1024px) {
    padding: 0 15px;
    max-width: 950px;
  }

  @media (min-width: 1250px) {
    max-width: 1170px;
  }
}

.header-order-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: var(--white);
  z-index: 10;

  @media (min-width: 1024px) {
    margin: 18px 0 19px;
    height: 40px;
    background-color: transparent;
  }
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-order {
  display: flex;
  justify-content: flex-end;
  flex-grow: 2;
  transition: 0.3s;
}

//   Правая часть строки становится невидимой, когда мобильное меню активно
.active-menu .header-order {
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.header-search {
  display: flex;
  position: relative;

  @media (min-width: 1024px) {
    margin-right: 10px;
  }
}

// border по клику у инпута
.header-search-active {
  flex-grow: 2;

  &::after {
    position: absolute;
    content: '';
    top: 10px;
    right: 0;
    bottom: 10px;
    width: 1px;
    background-color: #dce1e7;
    // border-right: 1px solid #dce1e7;
  }

  @media (min-width: 600px) {
    flex-grow: 0;
    width: 350px;
  }
}

.header-search__input {
  @media (min-width: 1024px) {
    // текст, который вводим
    .font-arimo(@color: var(--black));

    display: block;
    padding: 0 16px;
    width: 260px;
    border: none;
    border-radius: 3px 0 0 3px;
    background-color: var(--background);

    font-size: 13px;
    letter-spacing: 0.9px;
    caret-color: var(--black);

    // текст, который видим, как только окно открыто
    &::placeholder {
      color: #959ca8;
      opacity: 1;
    }

    // При клике на поле ввода появляется курсор и placeholder убирает текст "Поиск по номенклатуре"
    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }

  @media (min-width: 1250px) {
    width: 410px;
  }
}

.header-search__input-active {
  // текст, который вводим
  .font-arimo(@color: var(--black));

  // position: relative;
  padding: 0 16px;
  flex-grow: 2;
  width: 100%;
  border: none;
  background-color: var(--white);

  font-size: 15px;
  letter-spacing: 0.4px;

  // текст, который видим, как только окно открыто
  &::placeholder {
    color: #959ca8;
    opacity: 1;
  }

  @media (min-width: 390px) {
    width: auto;
    font-size: 16px;
  }
}

.header-search__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  border-radius: 0 3px 3px 0;
  fill: var(--accent-main);
  background-color: var(--white);

  &:hover {
    fill: var(--accent);
  }

  @media (min-width: 1024px) {
    width: 40px;
    border: none;
    background-color: var(--background);
  }
}

.header-search__icon svg {
  // margin-top: 3px;   //   ??? на актив - не нужен!
  width: 22px;
  height: 22px;

  @media (min-width: 1024px) {
    margin-top: 0;
    width: 18px;
    height: 18px;
  }
}

/* ---------- Кнопка Cross ---------- */
.header-search__cross {
  position: relative;
  margin-right: 3px;
  width: 32px;
  cursor: pointer;
  background-color: var(--white);

  &::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 24px;
    height: 3px;
    background-color: var(--text-light);
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 24px;
    height: 3px;
    background-color: var(--text-light);
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.header-config {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    margin-right: 35px;
    padding: 0 17px;
    width: 100%;
    max-width: 145px;
    border-radius: 3px;
    background-color: var(--accent-main);
    text-align: center;

    &:hover {
      background-color: var(--accent-main-hover);
    }
  }

  @media (min-width: 1250px) {
    margin-right: 47px;
  }
}

.header-config__title {
  .font();

  margin-top: 4px;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.header-config__text {
  .font-arimo(@color: var(--white));

  margin-top: -2px;
  font-size: 11px;
  letter-spacing: 0.3px;
  line-height: 1;
}

.header-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 1024px) {
    justify-content: flex-start;
  }
}

.header-personal {
  width: 46px;
  color: #333333;

  &:hover {
    .header-text {
      color: var(--accent-main-hover);
    }
  }

  @media (min-width: 390px) {
    margin-right: 17px;
  }

  @media (min-width: 1024px) {
    margin-right: 25px;
    width: 100%;
    max-width: 141px;
  }

  @media (min-width: 1250px) {
    margin-right: 35px;
  }
}

.header-personal__icon {
  @media (min-width: 1024px) {
    margin-right: 8px;
  }
}

.icon-personal {
  width: 22px;
  height: 22px;

  @media (min-width: 1024px) {
    width: 20px;
    height: 20px;
  }
}

.header-text {
  display: none;

  @media (min-width: 1024px) {
    .font-arimo(@color: #333333);

    display: block;
    font-size: 15px;
    transition: color 0.2s ease;
  }
}

.header-equip {
  position: relative;
  display: none;
  padding-top: 12px;
  padding-bottom: 16px;

  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;

    &::before {
      position: absolute;
      content: '';
      top: 0px;
      width: 100%;
      height: 1px;
      background-color: #e9e9e9;
    }
  }
}

.header-equip-menu {
  display: flex;
  justify-content: space-between;
}

.header-equip__item {
  position: relative;
  cursor: pointer;
  filter: drop-shadow(rgba(10, 54, 88, 0.23) 0px 0px 20px);
  z-index: 11;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &::before {
    position: absolute;
    content: '';
    top: -14px;
    left: -13px;
    right: -10px;
    bottom: -15px;
    border-radius: 3px 3px 0 0;
    background-color: var(--white);

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease 0.2s;
  }

  &:hover {
    &::before,
    .header-equip__submenu {
      opacity: 1;
      visibility: visible;
    }

    .header-equip__link {
      color: var(--accent);
    }

    // icon Angle
    .header-equip__link::after {
      transform: translateY(125%) rotate(-225deg);
    }
  }
}

.header-equip__link {
  .font(@color: var(--black), @weight: 700);

  position: relative;
  padding-right: 20px;
  font-size: 20px;
  line-height: 1;
  white-space: nowrap;
  transition: 0.3s ease 0.2s;
  z-index: 11;

  // icon Angle
  &::after {
    position: absolute;
    content: '';
    right: 3px;
    width: 8px;
    height: 8px;
    border-left: 2px solid #959ca8;
    border-bottom: 2px solid #959ca8;
    transform: translateY(75%) rotate(-45deg);
    transition: 0.3s ease 0.2s;
  }
}

.header-equip__submenu {
  margin-top: 15px;
  padding: 17px 20px 15px;
  position: absolute;
  top: 100%;
  left: -13px;
  border-radius: 0 3px 3px 3px;
  background-color: var(--white);

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease 0.2s;
}

.header-equip__submenu-item {
  display: block;
  font-size: 18px;
  line-height: 1;
  transition: color 0.2s ease 0.2s;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.header-equip__submenu-item a {
  .font(@color: var(--black), @text: lowercase);

  transition: color 0.2s ease;
  white-space: nowrap;

  &:hover {
    color: var(--accent);
  }
}

.header-equip__submenu-item span {
  text-transform: uppercase;
}
