.vat {
  display: none;

  @media (min-width: 1024px) {
    display: flex;
  }
}

.choice-vat {
  display: flex;
  margin-bottom: 12px;

  @media (min-width: 1024px) {
    display: none;
  }
}

.vat__link {
  .font(@color: var(--text-light));

  position: relative;
  padding-right: 22px;

  font-size: 20px;
  line-height: 1;
  cursor: pointer;

  &:hover {
    .vat__drop {
      opacity: 1;
      visibility: visible;
    }
  }
}

.vat__link-color {
  color: var(--accent);
}

.vat__link-img {
  display: inline-block;
  position: absolute;
  top: calc(~'50% - 8px');
  right: 0;
}

//  --- Выпадашка VAT

.vat__drop {
  .box-shadow (@y: 11px, @blur: 43px, @alpha: 0.3);

  padding: 14px 14px 10px;
  width: 260px;
  position: absolute;
  top: 32px;
  left: 45px;
  border-radius: 5px;
  background-color: var(--white);

  transition: opacity 0.2s ease 0.2s;
  opacity: 0;
  visibility: hidden;
  z-index: 4;

  &:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: -15px;
    left: 125px;
    background-color: var(--white);
    transform: translateY(100%) rotate(135deg);
  }

  @media (min-width: 390px) {
    left: 51px;
  }

  @media (min-width: 1024px) {
    left: auto;
    top: 45px;
    right: -53px;
  }
}

.vat__drop-title {
  .font();

  margin-bottom: 7px;
  padding: 0 3px 3px;
  display: inline-block;
  background-color: var(--accent);
  font-size: 20px;
  line-height: 1;
  letter-spacing: normal;
}

.vat__drop-text {
  .font-arimo(@color: #828282);

  display: block;
  font-size: 12px;
  text-transform: none;
  letter-spacing: 1.1px;
  line-height: 1.5;
}
